<form #loginForm="ngForm" novalidate="true" (ngSubmit)="loginFormMethod()">
  <div>
    <div>
      <label>Username:</label>
      <input name="login" [(ngModel)]="login" required>
    </div>
    <div>
      <label>Password:</label>
      <input type="password" name="password" [(ngModel)]="password" required>
    </div>
    <div>
      <button [disabled]="loginForm.invalid || pendingRequest">Login</button>
    </div>
  </div>
</form>
<div *ngIf="loginError">
  Invalid user or password
</div>

<br>
<h6>Don't Have an Account?</h6>
<button type="button" routerLink="../register" class="btn btn-danger custom">Register</button>
<br>
