<div class="register-form">

  <h2>Zarejestruj się</h2>

  <form #registerForm="ngForm" novalidate="true" (ngSubmit)="registerFormMethod()">

    <!-- Text input-->
    <div class="form-group">
      <label class="control-label">Login</label>
      <div class="">
        <input class="input" type="text" name="login" [(ngModel)]="userProfile.login" required>
        <span class="help-block"></span>
      </div>
    </div>

    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label">Password:</label>
      <div class="">
        <input class="input" type="password" name="password" [(ngModel)]="userProfile.password" required>
        <span class="help-block"></span>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label">Name</label>
      <div class="">
        <input class="input" type="text" name="name" [(ngModel)]="userProfile.userProfileDto.firstName" required> <!--name-->
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label">Surname</label>
      <div class="">
        <input class="input" type="text" name="surname" [(ngModel)]="userProfile.userProfileDto.lastName"> <!--surname-->

      </div>
    </div>

    <!-- Text input-->
  <!--  <div class="form-group">
      <label class="col-md-4 control-label">Decribe yourself</label>
      <div class="">
        <textarea class="input" name="description" [(ngModel)]="userProfile.userProfileDto.description"></textarea>
        <span class="help-block"></span>
      </div>
    </div>-->

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label"></label>
      <div class="">
        <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Register</button>
      </div>
    </div>

    <br>
    <div class="errorText" *ngIf="registerResult == false">Invalid input</div>
    <br>

    <!-- Button -->
    <label class="col-md-8 control-label"><strong>If already registered</strong></label>
    <button type="button" class="btn btn-danger custom" routerLink="../login">Log in</button>

   <!-- -->


  </form>
</div>
